@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap"); /* Colores Maps */
/* footer redes */
.fa-facebook {
  color: #3b5998;
}

.fa-instagram {
  color: #d1574c;
}

.fa-whatsapp {
  color: #25D366;
}

.fa-tiktok {
  color: #010101;
}

.fa-envelope {
  color: #1a4d9a;
}

.fa-map-marker-alt {
  color: #b07f2a;
}

/*Estilos*/
* {
  padding: 0;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  background-color: #e0deda;
}

header,
footer {
  background-color: #353f7b;
}

/* Condicional Paciente */
h1 {
  color: #23204a;
}

/* Variables */ /* Header */
header {
  width: 100%;
}
header nav a,
header nav img {
  max-width: 100%;
  height: auto;
}
header nav div {
  background-color: #353f7b;
  justify-content: flex-end;
}
header nav ul {
  margin: 20px;
}
header nav ul li {
  margin-right: 20px;
  transition: 0.5s;
  font-size: 105%;
  letter-spacing: 1px;
}
header nav ul li:hover {
  transform: scale(1.2);
  text-decoration: overline;
}
header nav ul li:hover a {
  text-decoration: none;
}

/* Main */
.odoGeneral {
  background-color: rgb(255, 255, 255);
}
.odoGeneral .contain {
  height: 100vh;
  width: 96vw;
  background-image: url(../imagenes/ver.jpg);
  background-size: cover;
  background-position: center;
  text-align: right;
  margin-top: 193px;
}
.odoGeneral h1,
.odoGeneral p {
  color: #090909;
  background-color: transparent;
  padding-top: 10px;
}

.mainCont {
  margin-top: 30px;
  display: flex;
}
.mainCont .consejos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  margin: 10px;
  width: 50%;
}
.mainCont .consejos img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 10px;
}
.mainCont .paciente {
  margin-top: 50px;
  padding: 5%;
  width: 50%;
}

.formaPago {
  padding: 25px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 20px;
}
.formaPago h2 {
  font-size: 24px;
  font-weight: bold;
}
.formaPago p {
  font-size: 16px;
  margin-bottom: 20px;
}
.formaPago img {
  width: 65%;
  height: auto;
}

.servicios {
  padding: 25px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 20px;
}
.servicios div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  text-align: center;
}
.servicios div a {
  display: block;
  text-decoration: none;
  color: #000000;
  padding: 10px;
  transition: border-color 0.3s, transform 0.3s;
  border-radius: 5px;
  text-transform: uppercase;
}
.servicios div a:hover {
  transform: scale(1.05);
  background-color: #9dc4b5;
}
.servicios img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.servicios h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.conocenos {
  position: relative;
  background-color: transparent;
}
.conocenos img {
  width: 100%;
}
.conocenos div {
  background-color: #9FAFC5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conocenos div h2,
.conocenos div p {
  background-color: transparent;
  text-align: center;
}
.conocenos div button a {
  text-decoration: none;
  background-color: transparent;
  color: #000000;
}

/* Footer */
footer {
  color: #070707;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
footer a {
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  transition: 0.5s;
  margin-right: 15px;
}
footer ul {
  list-style-type: none;
  font-size: 18px;
}
footer ul li {
  margin-bottom: 2px;
  text-align: center;
}
footer .footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-icons .fa-brands {
  margin: 0 5px;
  font-size: 25px;
  transition: 0.5s;
}
footer .footer-icons .fa-brands:hover {
  transform: scale(1.6);
}

/*Servicios*/
.serviciosMain {
  margin-top: 193px;
}
.serviciosMain h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  padding: 5px;
}
.serviciosMain .wave img {
  width: 100%;
}
.serviciosMain .formulario {
  margin: 0;
}

/*Medios de pagos*/
.infoCont {
  margin-top: 193px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  padding: 25px;
}
.infoCont img {
  border-radius: 5px;
}
.infoCont .infoItem h1 {
  font-size: 24px;
  padding: 15px;
}
.infoCont .infoItem h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.infoCont .infoItem p {
  margin-bottom: 10px;
}

/*Pacientes*/
.paciente {
  margin-top: 193px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.paciente h1 {
  font-size: 24px;
  margin-bottom: 20px;
}
.paciente form {
  margin-bottom: 20px;
}
.paciente form #username,
.paciente form #password {
  width: 40%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.paciente form button {
  background-color: #9dc4b5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 1s;
}
.paciente form button:hover {
  transform: scale(1.2);
  background-color: #bad9a2;
}
.paciente form button:active {
  background-color: #adbf97;
}
.paciente form label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
.paciente form p {
  font-size: 14px;
}

/*Nosotros*/
.nosotros .backNosotros {
  margin-top: 193px;
  display: flex;
  max-width: 100%;
  height: 70vh;
  background-image: url(../imagenes/EquipoImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  opacity: 0.9;
}
.nosotros .backNosotros h1 {
  color: #ccc;
  background-color: transparent;
  padding: 35px;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.7);
}
.nosotros h2 {
  font-size: 40px;
  text-align: center;
  margin: 20px;
}
.nosotros .quienesSomos {
  text-align: center;
  padding: 10px;
}
.nosotros .quienesSomos img {
  border-radius: 30px;
}
.nosotros .quienesSomos .contenido p {
  color: #000000;
  font-size: 23px;
  line-height: 1.1;
  padding: 5%;
  word-wrap: break-word;
}
.nosotros iframe {
  display: flex;
  justify-content: center;
  margin: auto;
}

/* Contacto */
.formulario {
  margin-top: 193px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.formulario h1 {
  font-size: 28px;
  margin-bottom: 20px;
}
.formulario .formularioForm {
  padding: 10px;
  width: 400px;
}
.formulario .formularioForm fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}
.formulario .formularioForm fieldset legend {
  font-weight: bold;
  margin-bottom: 10px;
}
.formulario .formularioForm fieldset label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 8px;
  font-size: 20px;
}
.formulario .formularioForm button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  background-color: #9dc4b5;
}
.formulario .formularioForm button:hover {
  background-color: #bad9a2;
}
.formulario .formularioForm button:active {
  background-color: #adbf97;
}
.formulario .formularioForm textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formulario .formularioForm input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.formulario h4 {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.formulario iframe {
  width: 50%;
  margin-bottom: 20px;
}
.formulario .contItem {
  display: flex;
  align-items: center;
  margin: 25px;
  width: 100%;
  border: 3px solid #ccc;
  border-radius: 10px;
  justify-content: space-around;
}
.formulario .contItem .contItemCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 9%;
  font-size: 19px;
}
.formulario .icono {
  margin-right: 10px;
}

/*Pseudoclases y breakpoints*/
@media (max-width: 768px) {
  header {
    text-align: center;
  }
  .odoGeneral .container,
  .mainCont .consejos {
    width: 100%;
  }
  .conocenos div {
    text-align: center;
    font-size: 16px;
  }
  footer {
    display: block;
    text-align: center;
  }
  footer p {
    text-align: center;
  }
  .servicios div {
    grid-template-columns: 1fr;
  }
  .mainCont .paciente,
  .formaPago img {
    display: none;
  }
  .contItem {
    display: flex;
    flex-direction: column;
  }
  .formulario iframe {
    width: 100%;
  }
  .backNosotros h1 {
    text-align: center;
    width: 100%;
  }
  .nosotros .backNosotros {
    height: 50vh;
  }
}

/*# sourceMappingURL=styles.css.map */
