/* Footer */
footer {
    color: #070707;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    a {
        color: #000000;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        transition: .5s;
        margin-right: 15px;
    }
    ul {
        list-style-type: none;
        font-size: 18px;
        li {
            margin-bottom: 2px;
            text-align: center;
        }
    }
    .footer-icons {
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-brands{
            margin: 0 5px;
            font-size: 25px;
            transition: .5s;
            &:hover{
                transform: scale(1.6);
            }
        }
    }
}