 /* Header */
    header {
    width: $ancho-imagen;
    nav{
    a,
    img {
        max-width: $ancho-imagen;
        height: auto;
    }
    div {
        background-color:map-get($colores, secundario);
        justify-content: flex-end;
    }
    ul {
        margin: 20px;
        li {
            margin-right: 20px;
            transition: .5s;
            font-size: 105%;
            letter-spacing: 1px;
            &:hover{
                transform: scale(1.2);
                text-decoration: overline;
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
}