/* Colores Maps */
$colores:(
    primario:#e0deda,
    secundario:#9097b4,
    terciario:#4e698d,
    cuarto:#9fafc5,
    quinto:#657fa2,
    sexto:#9dc4b5,
    );

/* footer redes */
$redes-sociales: (
        fa-facebook:#3b5998,
        fa-instagram:#d1574c,
        fa-whatsapp:#25D366,
        fa-tiktok:#010101,
        fa-envelope:#1a4d9a,
        fa-map-marker-alt:#b07f2a,
    );

    @each $red-social, $color in $redes-sociales {
        .#{$red-social} {
        color: $color;
        }
        };
