/*media queries */

@media (max-width: 767px){
    header{
        text-align: center;
    }
    .odoGeneral .container,
    .mainCont .consejos{
        width: 100%;
    }
    .conocenos div {
        text-align: center;
        font-size: 16px;
    }
    footer{
        display: block;
        text-align: center;
    }
    footer p{
        text-align: center;
    }
    .servicios div{
    grid-template-columns: 1fr;
    }
    .mainCont .paciente , 
    .formaPago img{
        display: none;
    }
    .contItem{
        display: flex;
        flex-direction: column;
    }
    .formulario iframe{
        width: 100%;
    }
    
    .nosotros img {
        width: 50%;
    }
    .nosotros iframe{
        width: auto;
    }
    .turno{
        flex-direction: column;
    }
    .turno img{
        width: 100%;
    }
    .turno .turnoCont button{
        width:auto;
    }
    .turno h1{
        text-align: center;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    header{
        text-align: center;
    }
    .servicios div{
        grid-template-columns: repeat(2, 1fr);
    }
    .turno .turnoCont button{
        width:auto;
    }
}