/*Pseudoclases */

@media (max-width:468px){
    header{
        text-align: center;
    }
    .odoGeneral .container,
    .mainCont .consejos{
        width: 100%;
    }
    .conocenos div {
        text-align: center;
        font-size: 16px;
    }
    footer{
        display: block;
        text-align: center;
    }
    footer p{
        text-align: center;
    }
    .servicios div{
    grid-template-columns: 1fr;
    }
    .mainCont .paciente , 
    .formaPago img{
        display: none;
    }
    .contItem{
        display: flex;
        flex-direction: column;
    }
    .formulario iframe{
        width: 100%;
    }
    
    .nosotros img {
        width: 50%;
    }
    
}