/*Servicios*/
    
.serviciosMain{ 
    margin-top: $margen-top;
    h1 {
    font-size: 32px; 
    font-weight: bold; 
    margin-bottom: 20px; 
    text-align: center;
    padding: 5px;
    }
    .wave img{
        width: $ancho-imagen;
    }
    .formulario{
        margin: 0;
    }
}