@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
    
    @import 'mixins';
    @import 'maps';
    @import 'generales';
    @import 'condicionales';
    @import 'variables';
    

    /* Header */
    header {
        width: $ancho-imagen;
        nav{
        a,
        img {
            max-width: $ancho-imagen;
            height: auto;
        }
        div {
            background-color:map-get($colores, secundario);
            justify-content: flex-end;
        }
        ul {
            margin: 20px;
            li {
                margin-right: 20px;
                transition: .5s;
                font-size: 105%;
                letter-spacing: 1px;
                &:hover{
                    transform: scale(1.2);
                    text-decoration: overline;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    }
    
    /* Main */
    
    .OdoGeneral {
        background-color: rgb(255, 255, 255);
        .Container{
            height: 100vh;
            width: 96vw;
            background-image: url(../imagenes/ver.jpg);
            background-size: cover;
            background-position: center;
            text-align: right;
            margin-top: $margen-top;
        }
        h1,
        p {
            color: #090909;
            background-color: transparent;
            padding-top: 10px;
        }
    }
    .MainCont {
        margin-top: 30px;
        display: flex;
        .Consejos {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 2px solid #ccc;
            border-radius: 10px;
            padding: 15px;
            text-align: center;
            margin: 10px;
            width: 50%;
            img {
                max-width: $ancho-imagen;
                height: auto;
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
                border-radius: 10px;
            }
        }
        .Paciente{
            margin-top: 50px;
            padding: 5%;
            width: 50%;
        }
    }
    .FormaPago {
        padding: 25px;
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 10px;
        margin: 20px;
        h2 {
            font-size: 24px;
            font-weight: bold;
        }
        p {
            font-size: 16px;
            margin-bottom: 20px;
        }
        img {
            width: 65%;
            height: auto;
        }
    }
    .Servicios {
        padding: 25px;
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 10px;
        margin: 20px;
        div {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            text-align: center;
            a {
                display: block;
                text-decoration:none;
                color: #000000;
                padding: 10px;
                transition: border-color 0.3s, transform 0.3s;
                border-radius: 5px;
                text-transform: uppercase;
                &:hover {
                    transform: scale(1.05);
                    background-color: #9dc4b5;
                }
            }
        }
        img {
            width: $ancho-imagen;
            height: auto;
            border-radius: 8px;
        }
        h2 {
            font-size: 24px; 
            font-weight: bold; 
            text-align: center;
            margin-bottom: 10px;
        }
    }
    .Conocenos {
        position: relative;
        background-color: transparent;
        img {
            width: $ancho-imagen;
        }
        div {
            background-color:#9FAFC5 ;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2,
            p{
                background-color: transparent;
                text-align: center;
            }
            button{
                a{
                    text-decoration: none;
                    background-color: transparent;
                    color: #000000;
                }
            }
        }
    }
    
    /* Footer */
    footer {
        color: #070707;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        a {
            color: #000000;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
            transition: .5s;
            margin-right: 15px;
        }
        ul {
            list-style-type: none;
            font-size: 18px;
            li {
                margin-bottom: 2px;
                text-align: center;
            }
        }
        .footer-icons {
            display: flex;
            justify-content: center;
            align-items: center;
            .fa-brands{
                margin: 0 5px;
                font-size: 25px;
                transition: .5s;
                &:hover{
                    transform: scale(1.6);
                }
            }
        }
    }
    
    /*Servicios*/
    
    .ServiciosMain{ 
        margin-top: 193px;
        h1 {
        font-size: 32px; 
        font-weight: bold; 
        margin-bottom: 20px; 
        text-align: center;
        padding: 5px;
        }
        .wave img{
            width: $ancho-imagen;
        }
    }

    /*Medios de pagos*/
    .InfoCont{
        padding: 20px;
        text-align: center;
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 25px;
        margin: 30px 20px 20px 20px;
        .InfoItem{
            h1 {
                font-size: 24px;
                padding: 15px;
            }
            h3 {
                font-size: 18px;
                margin-bottom: 5px;
            }
            p {
                margin-bottom: 10px;
            }
        }
    }
    
    /*Pacientes*/
    .Paciente {
        width: $ancho-imagen;
        margin: 0 auto;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        background-color: #e0deda;
        h1 {
            font-size: 24px;
            margin-bottom: 20px;
        }
        form {
            margin-bottom: 20px;
            #username ,
            #password {
            @include formpa;
            }
            button {
                background-color: #9dc4b5;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
                transition: 1s;
                &:hover {
                transform: scale(1.2);
                background-color: #bad9a2;
                }
                &:active {
                    background-color: #adbf97;
                }
            }
            label {
            @include casilla;
            }
            p {
            font-size: 14px;
            }
    }
    }
    /*Nosotros*/
    
    .Nosotros{
        .BackNosotros {
            margin-top: $margen-top;
            display: flex;
            max-width: 100%;
            height: 70vh;
            background-image: url(../imagenes/EquipoImg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            position: relative;
            opacity: 0.9;
            h1{
                color: #ccc;
                background-color: transparent;
                padding: 35px;
                font-size: 60px;
                color: rgba(255,255,255,0.7);
            }
        }
        h2{
            font-size: 38px;
            text-align: center;
            margin:20px;
        }
        .QuienesSomos{
            text-align: center;
            padding: 10px;
        img {
            border-radius: 30px;
        }
        .contenido{
            p {
                @include estilo-texto(#000000, 110%);
                line-height: 1.6;
                padding: 5%;
                word-wrap: break-word;
            }
        }
        }
        iframe {
            display: block;
            margin: auto;
            margin-top: 20px;
        }
    }
    /* Contacto */

    .Formulario {
            margin-top: 193px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 5px;
            h1 {
                font-size: 28px;
                margin-bottom: 20px;
            }
            .FormularioForm {
                width: 400px;
                fieldset {
                    border: none;
                    padding: 0;
                    margin-bottom: 20px;
                legend {
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                label {
                    display: block;
                    margin-bottom: 5px;
                }
            }
            label {
                @include casilla;
            }
                button {
                    padding: 10px 20px;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;
                    font-size: 16px;
                    background-color: #9dc4b5;
                &:hover {
                background-color: #bad9a2;
                }
                &:active {
                    background-color: #adbf97;
                }
            }
            textarea {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            input{
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
            }
            h4 {
                font-size: 20px;
                margin-bottom: 10px;
                margin-top: 10px;
            }
            iframe {
                width:50%;
                margin-bottom: 20px;
                
            }
            .ContItem {
                display: flex;
                align-items: center;
                margin: 25px;
                width: 100%;
                border: 3px solid #ccc;
                border-radius: 10px;
                justify-content: space-around;
                .ContItemCont {
                    display: flex;
                    flex-direction: column;
                    align-items:center;
                    padding: 9%;
                    font-size: 19px;
                }
            }
            .icono {
                margin-right: 10px;
            }
    }
    
    /*Pseudoclases y breakpoints*/

    @media (max-width:768px){
        header{
            text-align: center;
        }
        .OdoGeneral .Container,
        .MainCont .Consejos{
            width: 100%;
        }
        .Conocenos div {
            text-align: center;
        }
        footer{
            display: block;
            text-align: center;
        }
        footer p{
            text-align: center;
        }
        .Servicios div{
        display: block;
        }
        .MainCont .Paciente , 
        .FormaPago img{
            display: none;
        }
        .contenido p{
            font-size: 25px;
        }
        .ContItem{
            display: flex;
            flex-direction: column;
        }
        .Formulario iframe{
            width: 100%;
        }
        .BackNosotros h1{
            width: 100%;
            text-align: center;
        }
        }
    
